{% extends "wood/base.html" %}
  {% load i18n %}


{% block content %}

<div class="container">

  <form method="GET">
    <div class="d-flex flex-row" style="margin-top: 2vh;">
      
      <div class="p-2">{% trans "Spalva" %}: {{ filter.form.color }}</div>
      <div class="p-2">{% trans "Medžio tipas" %} {{ filter.form.wood }}</div>
      <div class="p-2">{% trans "Dydis" %}:   {{ filter.form.size }}</div>
    
      <div class="p-2" style="margin-top: -1vh;">  <button class="btn btn-dark" type="submit">{% trans "Ieškoti" %}</button></div>
  
    </div>
  </form>
  <div class="product-cards">
    <div class="row">
    {% for Product in filter.qs %}
        {% if Product.category.id ==  16 %}

          <div class="col-sm-12 col-md-6 col-lg-4 col-12 product-cards" style="padding: 4vh;">
            <div class="card" style="width: 18rem;">
                <a href="{% url 'stairs-detail' Product.id %}">
                <img class="card-img-top" src="{{ Product.image.url }}" alt="Card image cap">
                <div class="card-body">
                  <p class="card-text">{% if LANGUAGE_CODE == 'lt' %}{{ Product.description }}{% elif LANGUAGE_CODE == 'en' %}{{ Product.description_en }}{% endif %}</p>
                </a>
                </div>
              </div>
            </div>
         
        {% endif %}

      {% empty %}
      <div class="sorry-not-sorry">
        <tr><td><h4>{% trans "Atsiprašome, šiuo metu tokių laiptų neturime!" %}</h4></td></tr>
      </div>
    {% endfor %}
    


{% endblock content %}



