{% load static %}
{% load static i18n %}
{% load i18n %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{% static 'wood/main.css' %}">
    </head>

  <body>



    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="{% url 'wood-home' %}">{% trans "Pagrindinis" %}</a>
      
      <ul class="navbar-nav mr-auto">
        </ul>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
       
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
  
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-light" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  {% trans "Produktai" %}
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="{% url 'wood-doors' %}">{% trans "Durys" %}</a>
                  <a class="dropdown-item" href="{% url 'wood-stairs' %}">{% trans "Laiptai" %}</a>
        
            
                </div>
              </li>
              <a class="nav-link text-light " href="{% url 'wood-gallery' %}">{% trans "Galerija" %}</a>
              <a class="nav-link text-light " href="{% url 'wood-services' %}">{% trans "Paslaugos" %}</a>
              <a class="nav-link text-light " href="{% url 'wood-about' %}">{% trans "Apie mus" %} </a>
              <a class="nav-link text-light " href="{% url 'wood-contacts' %}">{% trans "Kontaktai" %}</a>
            </ul>
  
    
      
  
        <div class="navbar-nav">
         

        {% if user.is_authenticated %}
        {% if request.user.is_superuser %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-light" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Tvs
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{% url 'tvs-product' %}">{% trans "Produktai" %}</a>
            <a class="dropdown-item" href="{% url 'tvs-category' %}">{% trans "Kategorijos" %}</a>
            <a class="dropdown-item" href="{% url 'tvs-color' %}">{% trans "Spalvos" %}</a>
            <a class="dropdown-item" href="{% url 'tvs-wood' %}">{% trans "Medžio tipai" %}</a>
            <a class="dropdown-item" href="{% url 'tvs-size' %}">{% trans "Dydžiai" %}</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{% url 'active-orders' %}">{% trans "Nepatvirtinti užsakymai" %}</a>
            <a class="dropdown-item" href="{% url 'confirmed-orders' %}">{% trans "Patvirtinti užsakymai" %}</a>
        </li>
        {% endif %}
          <a class="nav-item nav-link text-light" href="{% url 'profile' %}">
            {% trans "Profilis" %}
          </a>
          <a class="nav-item nav-link text-light" href="{% url 'logout' %}">
            {% trans "Atsijungti" %}
          </a>
      {% else %}
        <a class="nav-item nav-link text-light" href="{% url 'login' %}">
          {% trans "Prisijungti" %}
        </a>
      {% endif %}
      {% get_current_language as LANGUAGE_CODE %}
      <form action="{% url 'set_language' %}" method="post">
        {% csrf_token %}
        <select name="language" class="custom-select mr-sm-2" onchange="this.form.submit();">
          {% get_available_languages as languages %}
          {% get_language_info_list for languages as languagess %}
          {% for language in languagess %}
            <option value="{{ language.code }}" {% if language.code == LANGUAGE_CODE %} selected {% endif %}>
              {{ language.code }}
            </option>
            {% endfor %}
        </select>
      </form>
      
      </div>
    </nav>



    <div class="container">
        {% if messages %}
          {% for message in messages %}
         <br>
          <div class="alert alert-{{ message.tags }}">
            {{ message }}
          </div>
          {% endfor %}
        {% endif %} 
        {% block content %}{% endblock %}
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>