{% extends "wood/base.html" %}
{% load static %}

{% load i18n %}


{% block content %}

{% get_current_language as lang %}
        




<div class="container">
  <div class="mid row">
    <div class="col-12">
      <div id="carouselExampleControls" class="carousel slide carousel-center" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active img-fluid">
            <img class="d-block w-100 h-100" src="{% static 'home-car-1.jpg' %}"/>
          </div>
          <div class="carousel-item img-fluid">
            <img class="d-block w-100 h-50" src="{% static 'home-car-2.jpg' %}"/>
          </div>
          <div class="carousel-item img-fluid">
            <img class="d-block w-100 h-50" src="{% static 'home-car-3.jpg' %}"/>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
  </div>

<br>
<div class="row mid">
  <div class="col-12">
    <br>
    <h3>{% trans "Mes atliekame tam tikrus medžių baldų darbus" %}</h3>
  </div>
</div>

<div id="desktop" class="row mid">
  
    <div id="home-first-img" class="col-sm-12 col-md-4 col-12 ">
      <a href="{% url 'wood-stairs' %}"><img class="home-img" src="{% static 'home-stairs1.jpg' %}"/></a>
      <br>
      <a href="{% url 'wood-stairs' %}">{% trans "Laiptai" %}</a>
    </div>
          <br>
    <div class="col-sm-12 col-md-4 col-12"> 
        <a href="{% url 'wood-doors' %}"><img class="home-img" src="{% static 'home-doors1.jpg' %}"/></a>
        <br>
        <a href="{% url 'wood-doors' %}">{% trans "Durys" %}</a>
          </div>
          
          <div class="col-12 col-md-4 mid">
            <br><br><br>
            <div class="well b">
             <p>{% trans "Atliekam beržų darbus, kurie užauginti 1922metais. Beržai yra geriausios ir kokybiškiausios rūšies, geresnių nerasite nei Lietuvoje, nei pasaulyje." %}</p>
            </div>
            <div class="well b">
             <p>{% trans "Taip pat darbus atliekame kokybiškai ir greitai, darbai atliekami per savaite, arba gražiname pinigus!" %}</p>
            </div>
          </div>
        </div>
      </div><br>


  
{% endblock content %}
