{% extends "wood/base.html" %}
{% load i18n %}
{% load static %}
{% block content %}
    <div class="content-section">
        <form method="POST" enctype="multipart/form-data">

            {% csrf_token %}

            <div class="order-page">
              <div class="container">
                <div class="row">
                  <div class="col-xl-8 m-auto col-sm-8 col-12">
                    <div class="log-box">
                      <div class="row">
                        <div class="col-xl-5 col-sm-5 col-12 pad-right-0">
                          <div class="logo-back">
                            <img class="fuck-this" src="{{ product.image.url }}"/>
                          </div>
                        </div>
                        <div class="col-xl-7 col-sm-7 col-12 pad-left-0">
                          <div class="log-content">
                            <h1>{% trans "Ar tikrai norite užsisakyti?" %}</h1>
                            <div class="log-body">
                            
                            <div class="form-group myr-top mid">
                              <br><br>
                              {% if LANGUAGE_CODE == 'lt' %}{{ product }}{% elif LANGUAGE_CODE == 'en' %}{{ product.title_en }}{% endif %}
                              <br>
                              {% trans "Kaina:" %} <b>{{ product.cost }} eur</b>
                            </div>

                            <div class="form-group myr-top">
                            
                            </div>
                              
                            <div class="log-btn text-center">
                             
                            </div>
                            
                            <div class="order-bottom-cotent  mid">
                             
                              {% trans "Tikrai norite užsisakyti šį produktą?" %}
                              <br>
                              <a href="/order_product/{{product.id}}/">
                                <button type="button" class="btn btn-dark">
                                  {% trans "Taip, užsakyti" %}
                                </button>
                                <a class="btn btn-secondary" role="button" href="{% url 'wood-home' %}">{% trans "Grįžti atgal" %}</a>
                            </p>
                            
                            <br>
                            </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            </form>  




{% endblock content %}








