{% extends "wood/base.html" %}
{% load i18n %}
{% block content %}


<div class="order-detail-padding order-mid">
<div class="container" id="packages">

<div class="row">
<div class="col-md-12">
  <h2>
    {% if LANGUAGE_CODE == 'lt' %}{{ object.title }}{% else %}{{ object.title_en }}{% endif %}

  </h2>

  {% if object.confirm == Null and object.reject == Null and object.finished == Null %}
  <p class="lead">
    {% trans "Užsakymas šiuo metu yra:" %}  </b> {% trans "Nepatvirtintas" %} </b>
  </p>
  {% endif %}

 
  {% if object.confirm == True and object.reject == Null and object.finished == Null %}
  <p class="lead">
    {% trans "Užsakymas šiuo metu yra:" %}  </b> {% trans "Patvirtintas" %} </b>
  </p>
  {% endif %}

   
  {% if object.confirm == True and object.reject == Null and object.finished == True %}
  <p class="lead">
    {% trans "Užsakymas šiuo metu yra:" %}  </b> {% trans "Užbaigtas" %} </b>
  </p>
  {% endif %}

  {% if object.confirm == Null and object.reject == True and object.finished == Null %}
  <p class="lead">
    {% trans "Užsakymas šiuo metu yra:" %}  </b> {% trans "Atmestas" %} </b>
  </p>
  {% endif %}

</div>
</div>
<div class="row">
<div class="media">
  <figure class="pull-left col-xs-12 col-md-4">
      <img src="{{ object.product.image.url }}" alt="The Amazing Product" height="500px" />
  </figure>
  <div class="media-body col-xs-12 col-md-7" style="margin-left: 10vw;">
    <h3 class="media-heading">{% if LANGUAGE_CODE == 'lt' %}{{ object.product }}{% else %}{{ object.product.title_en }}{% endif %}</h3>
    <p>
      {% if LANGUAGE_CODE == 'lt' %}{{ object.product.description }}{% else %}{{ object.product.description_en }}{% endif %}
    </p>
    <ul>
        <li>{% trans "Spalva:" %} {{ object.product.color }}</li>
        <li>{% trans "Medžio tipas:" %} {{ object.product.wood }}</li>
        <li>{% trans "Dydis:" %} {{ object.product.size }}</li>
        <li>{% trans "Išmatavimai:" %} {{ object.product.size.height }} m x {{ object.product.size.width }} m</li>
        <li>{% trans "Kaina:" %} <b> {{ object.product.cost }} eur</b></li>
    </ul>

    <p>
        {% trans "Užsakovo detalės." %}
    </p>
    <ul>
        <li>{% trans "Vardas:" %} {{ object.user }}</li>
        <li>{% trans "Paštas:" %} {{ object.user.email }}</li>
        <li> {%trans "Telefono numeris:" %} {{ object.user.profile.phone }}</li>
    </ul>

    {% if object.confirm == null and request.user.is_superuser %}
  
    <form method='get' action='/order_change/{{ object.id }}/'>
        {% csrf_token %}
        <input class="btn btn-dark" type="submit" value='{% trans "Patvirtinti" %}' name="Approve">
        <input class="btn btn-danger" type="submit" value='{% trans "Atmesti" %}' name="Reject">
        <a href="{% url 'active-orders' %}">
          <button type="button" class="btn btn-dark">
            {% trans "Grįžti" %}
          </button>
        </a>
    </form>
    {% elif object.confirm == True and request.user.is_superuser %}
  
    <form method='get' action='/order_change/{{ object.id }}/'>
      {% csrf_token %}
      <input class="btn btn-dark" type="submit" value='{% trans "Užbaigti" %}' name="Finished">
      <a href="{% url 'confirmed-orders' %}">
        <button type="button" class="btn btn-dark">
          {% trans "Grįžti" %}
        </button>
      </a>
  </form>

  {% elif object.confirm == True or object.reject == True or object.finished == True %}

  <form method='get' action='/order_change/{{ object.id }}/'>
    {% csrf_token %}
    <a href="{% url 'profile' %}">
      <button type="button" class="btn btn-dark">
        {% trans "Grįžti" %}
      </button>
    </a>
</form>

  {% else %}

  <form method='get' action='/order_change/{{ object.id }}/'>
    {% csrf_token %}
    <input class="btn btn-danger" type="submit" value='{% trans "Atšaukti užsakymą" %}' name="Reject">
    <a href="{% url 'profile' %}">
      <button type="button" class="btn btn-dark">
        {% trans "Grįžti" %}
      </button>
    </a>
</form>
  {% endif %}
   
  </div>
</div>
</div>
</div>
{% endblock %}