{% extends "wood/base.html" %}
{% load static %}
{% load i18n %}
{% block content %}

{% if count > 0 %} 
<div class="mid">
    <h5>{% trans "Visi esami užsakymai" %} ({{ count }})</h5>
</div>
{% endif %}


<div class="row">
{% for Order1 in Order1 %}

    {% if Order1.confirm == null and Order1.reject == null and Order1.finished == null %}
        <div class="col-sm-12 col-md-6 col-lg-4 col-12 product-cards" style="padding: 4vh;">
            <div>
                <div>
                    <div class="col-3">
                        <div class="card" style="width: 18rem;">
                            <div class="card-body">
                                <a href="{% url 'order-detail' Order1.id %}">
                                    <div class="mid-orders">
                                    <h5 class="card-title">{% if LANGUAGE_CODE == 'lt' %}{{ Order1.title }}{% else %}{{ Order1.title_en }}{% endif %}</h5>
                                    <h6 class="card-subtitle mb-2 text-muted">{{ Order1.user }}</h6>
                                    <p class="card-text">{% if LANGUAGE_CODE == 'lt' %}{{ Order1.product }}{% else %}{{ Order1.product.title_en }}{% endif %}</p>

                                    <form method='get' action='/order_change/{{ Order1.id }}/'>
                                        {% csrf_token %}
                                        <input class="btn btn-dark" type="submit" value='{% trans "Patvirtinti" %}' name="Approve">
                                        <input class="btn btn-danger" type="submit" value='{% trans "Atmesti" %}' name="Reject">
                                    </form>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div> 
                </div>
            </div>
        </div>
    {% endif %}  
{% endfor %}
{% if count == 0 %} 
<div class="mid" style="margin-left: 31vw;">
    <h4>Užsakymų šiuo metu nėra!</h4>
</div>
{% endif %}
{% endblock content %}




