{% extends "wood/base.html" %}
{% load i18n %}
{% block content %}
    <div class="content-section">


            {% csrf_token %}
        <div center class="mid">
                <div id="legend">
                  <legend class="delete-product">{% trans "Ačiū kad užsisakėte produktą" %} {% if LANGUAGE_CODE == 'lt' %}{{ product}} {% else %} {{product.title_en}} {% endif %} {% trans "mūsų komanda susisieks su jumis per 2 - 4 darbo dienas!" %}</legend>
                </div>

              
                        
            
                  </div>
  
</div>
  
{% endblock content %}








