{% extends "wood/base.html" %}
{% load i18n %}

{% block content %}
<table class="table" style="margin-top: 10vh;">
    <thead class="thead-dark">
      <tr>
        <th scope="col">{% trans "Kategorija" %}</th>
        <th scope="col">{% trans "Pavadinimas" %}</th>
        <th scope="col">{% trans "Ang. Pavadinimas" %}</th>
        <th scope="col">{% trans "Aprašymas" %}</th>
        <th scope="col">{% trans "Ang. Aprašymas" %}</th>
        <th scope="col">{% trans "Spalva" %}</th>
        <th scope="col">{% trans "Dydis" %}</th>
        <th scope="col">{% trans "Medis" %}</th>
        <th scope="col">{% trans "Kaina" %}</th>  
        <th scope="col">{% trans "Pakeisti" %}</th>  
        <th scope="col">{% trans "Ištrinti" %}</th>  
        
      </tr>
    </thead>
    <tbody>

        {% for Product in Product %} 
      <tr>
        <td>{{ Product.category }}</td>
        <td>{{ Product.title }}</td>
        <td>{{ Product.title_en }}</td>
        <td>{{ Product.description }}</td>
        <td>{{ Product.description_en }}</td>
        <td>{{ Product.color }}</td>
        <td>{{ Product.size }}</td>
        <td>{{ Product.wood }}</td>
        <td>{{ Product.cost }}</td>
        <td>
            <a href="{% url 'product-update' Product.id %}"><button class="btn btn-dark">{% trans "Pakeisti" %}</button></a>
        </td>
        <td>
            <a href="{% url 'product-delete' Product.id %}"><button class="btn btn-dark">{% trans "Ištrinti" %}</button></a>
        </td>
    
      </tr>
    
        {% endfor %}
      
    </tbody>
  </table>


  {% if is_paginated %}
  <ul class="pagination">
  {% if page_obj.has_previous %}
    <li>
          <span><a href="?page={{ page_obj.previous_page_number }}"><button type="button" class="btn btn-outline-dark">{% trans "Atgal" %}</button></a></span>
      </li>
  {% endif %}
      <li class="" style="margin-top: 1vh; margin-left: 1vw;">
          <span>{% trans "Puslapis" %} {{ page_obj.number }} {% trans "iš" %} {{ page_obj.paginator.num_pages }}. </span>
      </li>
  {% if page_obj.has_next %}
  
      <li style="margin-left: 1vw;">
          <span><a href="?page={{ page_obj.next_page_number }}"><button type="button" class="btn btn-outline-dark">{% trans "Kitas" %}</button></a></span>
      </li>
  {% endif %}
  </ul>
  {% endif %}
  <a class="btn btn-dark" style="margin-top: 2vh;" role="button" href="{% url 'product-create' %}">{% trans "Sukurti Produktą" %}</a>
  

  {% endblock content %}
