.center {
    max-width: 10%;
    margin: auto;
    margin-top: 3vh;
  }

.sorry-not-sorry {
    max-width: 80%;
    margin: auto;
    margin-top: 10vh;
  }

.mid {
    margin-top: 10vh;
    text-align: center;
  }

.mid-orders {
    text-align: center;
  }

div.b {
    text-align: left;
  }
  
  
a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
  }

/* 
    Pagrindinio stilius

    home.html
*/

.carousel {
  width:640px;
  height:360px;
}

.carousel-center {
  max-width: 100%;
  margin: auto;
  margin-top: 3vh;
}

.home-img {
  height: auto; 
  width: auto; 
  width: 300px; 
  height: 450px;
}

/* 
    Prisijungimo stilius

    login.html
*/

.login-form {
  margin-top: 15vh;
  text-align: center;
}


.login>input { 
  text-align: center; 
}

.password {
  margin-top: 2vh;
}

.login-button {
  margin-top:2vh;
}

.register-text {
    margin-top: 2vh;
    text-align: center;
  }

.password-reset-text {
    margin-top: 2vh;
    text-align: center;
  }


/* 
    Atsijungimo stilius

    logout.html
*/

.logout {
  margin-top:2vh;
}


/* 
    Profilio stilius

    profile.html
*/

.profile-username>input {
  margin-top: 1vh;
  width: 20%;
  height: calc(1.5em + .75rem + 2px);
  text-align: 50%;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}


#profile-image-change {
  margin-left: 10vw;
  margin-top: -2vh; 
}

#profile-image {
   width:100%;
   height:550px;
   object-fit:cover;
   object-position:50% 50%;
}


#profile-img-button {
  margin-left: 2vw;
}

#currently-remove {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  color: transparent;
  
}


.profile-email > input {
  margin-top: 2vh;
}

#profile-change-button {
  margin-top: 1vh;
}

.profile{
  padding:5%;
  border-radius: 8px;
}

.profile .img{
  text-align:center;
}

.profile .details{
  border-left:3px solid #ded4da;
}

.profile .details p{
  font-size:15px;
  font-weight:bold;
}


/* 
    Registracijos stilius

    register.html
*/



#register-form {
  margin-top: 15vh;
  text-align: center;
}

#register-email {
  margin-top: 1vh;
}

#register-password {
  margin-top: 1vh;
}

#register-password2 {
  margin-top: 1vh;
}

#register-button {
  margin-top: 2vh;
}

.register>input { 
  text-align: center; 
}

.login-text {
  margin-top: 2vh;
  text-align: center;
}



/* 
    Kontaktų stilius

    contacts.html
*/

#contacts-text {
  margin-top: 2vh;
}

#contacts-map {
  margin-top: 3vh; 
  padding-left: 10wv;
}

/* 
    List view

    doors.html   stairs.html
*/

.list-button {
    margin-top: 2vh;
    text-align: center;
  }

.card-img-top {
    object-fit: cover;
    width: 100%;
    height: 400px;
}

.filter-block {
  background-color: black;
}

#list-padding {
  padding: 4vh;
}

#card-width {
  width: 18rem;
}
/* 
    Produkto forma

    product_form.html
*/


#cube {
  width: 35vw;
  margin-left: 20vw;
}

#form-title {
  margin-top: 5vh;
  text-align: center;
}


.label>input {
    width: 100%;
    margin-right: 10vw;
    height: calc(1.5em + .75rem + 2px);
    text-align: 50%;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  }
  
.label>textarea {
    width: 100%;
    margin-right: 10vw;
    height: calc(1.5em + .75rem + 2px);
    text-align: 50%;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  }

.label>select {
    width: 20%;
    margin-right: 10vw;
    height: calc(1.5em + .75rem + 2px);
    text-align: 100%;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  }

  .label>input {
    width: 100%;
    margin-right: 10vw;
    height: calc(1.5em + .75rem + 2px);
    text-align: 100%;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  }



.filter>select {
    text-align: center;
    text-align-last: center;
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    text-align: 100%;
    padding: .375rem .75rem;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  }


#form-button {
    margin-right: 8vw;
    text-align: center;
  }

/* 
    Detalus

    product_detail.html
*/


  .detail-photo {
    margin-top: -2vh;
    margin-left: 13vw;
    width:  500px;
    height: 650px;
    background-size: cover;
  }


  @media (min-width:767px) and (max-width:993px){
    #home-first-img{
        margin-right: 10vw;
    }
}

@media (max-width:770px) and (min-width:50px) {
    .product-cards {
      margin: auto;
      width: 50%;
    }
}

.detail-text {
  padding-left: 15vw;
}


@media (max-width:1199px) and (min-width:991px) {
  .detail-text-align {
    padding-left: 20vw;
  }
}


  @media (max-width:990px) and (min-width:50px) {
    .detail-text-align-2 {
      padding-left: 15vw;
      margin-top: -30vh;
    }
  }


  .order {
    margin-left: 30vw;
  }


.order-detail-padding {
  padding-top: 5vh;
}


.order-mid {
  padding-left: 20vw;
}

.contact-form {
  width: 50vw;
  margin-left: 18vw;
}


.login-container{
  margin-top: 5%;
  margin-bottom: 5%;
}
.login-logo{
  position: relative;
  margin-left: -41.5%;
}
.login-logo img{
  position: absolute;
  width: 20%;
  margin-top: 19%;
  background: #282726;
  border-radius: 4.5rem;
  padding: 5%;
}
.login-form-1{
  margin-left: 12vw;
  text-align: center;
  padding: 9%;
  background:#282726;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}
.login-form-1 h3{
  text-align: center;
  margin-bottom:12%;
  color:#fff;
}
.login-form-2{
  padding: 9%;
  background: #f05837;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}
.login-form-2 h3{
  text-align: center;
  margin-bottom:12%;
  color: #fff;
}
.btnSubmit{
  font-weight: 600;
  width: 50%;
  color: #282726;
  background-color: #fff;
  border: none;
  border-radius: 1.5rem;
  padding:2%;
}
.btnForgetPwd{
  color: #fff;
  font-weight: 600;
  text-decoration: none;
}
.btnForgetPwd:hover{
  text-decoration:none;
  color:#fff;
}


.login-page{
	background: white;  /* fallback for old browsers\
	background: -webkit-linear-gradient(to bottom, #2399f4, #12D8FA, #1FA2FF);  /* Chrome 10-25, Safari 5.1-6 
	background: linear-gradient(to bottom, #2399f4, #12D8FA, #1FA2FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	padding:40px 0px;
	min-height:450px;
	position:relative;
	display:inline-flex;
	width:100%;
}
.log-box{
	border-radius:10px;
	min-height:400px;
	box-shadow:0px 0px 10px #ccc;
	display:inline-block;
	width:100%;
}
.logo-back{
	background: url("../img/log-img.png");
	background-size: auto auto;
	display: inline-block;
	width: 100%;
	min-height: 450px;
	align-items: center;
	justify-content: center;
	height: 100%;
	border-radius: 10px 0px 0px 10px;
	background-size: cover;
	background-repeat: no-repeat;
}
.log-content{
	padding:40px 20px 0px;
	display:inline-block;
	width:100%;
	background-color:#fff;
	min-height:460px;
	border-radius:0px 10px 10px 0px;
}
.myr-top{
	margin-top:15px;
}
.log-content .log-body{
	margin-top:50px;
}
.log-content label{
	margin:0px;
	font-family:Poppins-R;
	font-size:14px;
	display:none;
}
.log-content .custom{
	border-bottom:1px solid #000;
	padding:10px 10px 10px 0px
}
.log-btn{
	padding-bottom:20px;
}
.btn-theme1{
	font-size:16px;
	font-family:Poppins-R;
	padding:10px 20px;
	background-color:#343a40;
	color:#fff;
	border:1px solid transparent;
	border-radius:50px;
	transition:ease 0.5s;
}
.btn-theme1:hover{
	color:#35cbdf;
	border:1px solid #000;
}
.log-bottom-cotent{
	margin-top:28%;
}
/* end login page css */
.copy-write{
	display:none !important;
}


.fuck-this {
  width: 400px;
  height: 475px;
}

.fuck-this-2 {
  width: 400px;
  height: 560px;
}


.contacts {
  width: 50%;
  margin-left: 25vw;
}



.order-page{
	background: white;  /* fallback for old browsers\
	background: -webkit-linear-gradient(to bottom, #2399f4, #12D8FA, #1FA2FF);  /* Chrome 10-25, Safari 5.1-6 
	background: linear-gradient(to bottom, #2399f4, #12D8FA, #1FA2FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	padding:40px 0px;
	display:inline-flex;
	width:100%;
}

.order-bottom-cotent{
	margin-top:16%;
}







