{% extends "wood/base.html" %}
{% load i18n %}
{% block content %}
    <div class="container">
      <div class="row">

        <div class="col-sm-12 col-md-12 col-lg-6 col-12" style="padding-top: 10vh;">
            <img class="detail-photo" src="{{ object.image.url }}"> 
          </div>

        <div class="col-sm-12 col-md-12 col-lg-6 col-12 detail-text detail-text-align detail-text-align-2" style="padding-top: 30vh;">

          <h3 class="my-3">
            {% if LANGUAGE_CODE == 'lt' %}
              {{ object.title}}
            {% elif LANGUAGE_CODE == 'en' %}
              {{ object.title_en}}
            {% endif %}
          </h3>
                    
          <p>
            {% if LANGUAGE_CODE == 'lt' %}
              {{ object.description}}
            {% elif LANGUAGE_CODE == 'en' %}
              {{ object.description_en}}
            {% endif %}
          </p>
                    
          <h3 class="my-3">
            {% trans "Produkto detalės" %}
          </h3>
                    
          <ul>
            {% get_current_language as LANGUAGE_CODE %}

            <li>
              {% trans "Medžio tipas" %}:
              {% if LANGUAGE_CODE == 'lt' %} 
                {{ object.wood }}
              {% elif LANGUAGE_CODE == 'en' %}
                {{ object.wood.title_en}}
              {% endif %}
            </li>

            <li>
              {% trans "Spalva" %}:
              {% if LANGUAGE_CODE == 'lt' %}
                {{ object.color }}
              {% elif LANGUAGE_CODE == 'en' %}
                {{ object.color.title_en }}
              {% endif %}
            </li>

            <li>
              {% trans "Dydis" %}:
              {% if LANGUAGE_CODE == 'lt' %}
                {{ object.size}}
              {% elif LANGUAGE_CODE == 'en' %}
                {{ object.size.title_en}}
              {% endif %}
            </li>
                      
            <li>
              {% trans "Kaina" %}:
              {{ object.cost }} Eur
            </li>
          
            <li>
              {% trans "Išmatavimai" %}:
              {{ object.size.height }} m x {{ object.size.width }} m
            </li>
          </ul>



          <table>
            <thead>
              <tr>
                <th scope="col">
                  <a href="{% url 'wood-doors' %}">
                    <button type="button" class="btn btn-dark">
                      {% trans "Grįžti" %}
                    </button>
                  </a>
                </th>
                <th scope="col">

                  {% if user.is_authenticated %}
                  <form method="POST">
                    {% csrf_token %}
                    <a href="/order/{{object.id}}/">
                      <button type="button" class="btn btn-dark">
                        {% trans "Užsakyti" %}
                      </button>
                    </a>
                </form>
                {% endif %}


              </th>
            
              </tr>
            </thead>
          </table>

            <div style="margin-top: 3vh;">
              

        
              
           
            

            
     
        </div>
      </div>
        
{% endblock content %}

