{% extends 'wood/base.html' %}
{% load i18n %}
{% block content %}
<div class="mid">   
  <p>
    {% trans "Jūsų slaptažodis pakeistas, dabar galite" %}
    <div class="text-primary">
      <a href="{% url 'login' %}">
       {% trans "Prisijungti" %}
      </a>
    </div>
  </p>
</div>
{% endblock %}