{% extends 'wood/base.html' %}
{% load i18n %}
{% block content %}


<div class="mid">
  <h3>
    {% trans "Slaptažodžio susigrąžinimas" %}
  </h3>

  <form method="post">
    {% csrf_token %}
      {{ form.as_p }}
        <button class="btn btn-dark" type="submit">
          {% trans "Patvirtinti" %}
        </button>
  </form>
</div>
{% endblock %}