{% extends 'wood/base.html' %}
{% load i18n %}

{% block content %}
<div class="mid">
  <p>{% trans "Atsiuntemė jum laišką su intrukcijomis, jeigu jūsų paskyra egzistuoja, turėtumete netrukus gauti. Jeigu negavote laiško, patikrinkite ar gerai suvedetė paštą, ir patikrinkite spamo folderį." %}
  </p>
</div>
{% endblock %}