{% extends 'wood/base.html' %}
{% load i18n %}
{% block content %}
  {% if validlink %}
  <div id="register-form">
    <h3>{% trans "Pasikeisti slaptažodį" %}</h3>
 
    <form method="post">
      {% csrf_token %}

      <div id="register-password">
        <label>
          {% trans "Slaptažodis" %}
        </label>
        <div class="register">
          {{ form.new_password1 }}
        </div>
      </div>
   
      <div id="register-password2">
        <label>
          {% trans "Pakartokite slaptažodį" %}
        </label>
        <div class="register">
          {{ form.new_password2 }}
        </div>
      </div>

      <div id="register-button">
        <button class="btn btn-dark" type="submit">{% trans "Keisti" %}</button>
      </div>
    </form>
  </div>
  {% else %}
    <p>
      {% trans "Linkas neveikia, turbūt jau buvo panaudotas." %}
    </p>
  {% endif %}
{% endblock %}