{% extends "wood/base.html" %}
{% load i18n %}
{% load static %}

{% block content %}
{% if form.errors %}
<br>
<div class="alert alert-warning" role="alert">
  {% trans "Duomenys blogai įvesti! Bandykite dar kartą." %}
</div>
{% endif %}
<form method="POST">
  {% csrf_token %}
<div class="login-page">
	<div class="container">
		<div class="row">
			<div class="col-xl-8 m-auto col-sm-8 col-12">
				<div class="log-box">
					<div class="row">
						<div class="col-xl-5 col-sm-5 col-12 pad-right-0">
							<div class="logo-back">
                <img class="fuck-this" src="{% static 'home-doors1.jpg' %}"/>
							</div>
						</div>
						<div class="col-xl-7 col-sm-7 col-12 pad-left-0">
							<div class="log-content">
								<h1>{% trans "Prisijunkite" %} </h1>
								<div class="log-body">
								<div class="form-group myr-top">
								<label>Vartotojo vardas:</label>
                					{{ form.username }}
								</div>
								<div class="form-group myr-top">
								<label>Slaptažodis</label>
                					{{ form.password }}
								</div>
								<div class="log-btn text-center">
                  				<button class="btn btn-theme1">
                    				{% trans "Prisijungti" %}
                  				</button>  
								</div>
								<div class="log-bottom-cotent">
                <p><a href="{% url 'register' %}">{% trans "Užsiregistruokite" %}</a>
                  <br>
								<a href="{% url 'password_reset' %}" class="pull-right">{% trans "Pamiršai slaptažodį?" %}</a>
								</p>
								</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</form>  
{% endblock content %}






        