{% extends "wood/base.html" %}
{% load i18n %}
{% block content %}
    <div class="logout">
        <h2>
            {% trans "Jūs atsijungėte" %}
        </h2>
        <div class="border-top pt-3">
            <a href="{% url 'login' %}">
                <button class="btn btn-dark">
                    {% trans "Prisijungti" %}
                </button>
            </a>
        </div>
    </div>

{% endblock content %}






        