{% extends "wood/base.html" %}
{% load i18n %}
{% block content %}

<div class="mid">
  <h6>{% trans "Taip pat įveskite savo telefono numerį, kad jeigu užsisakytumėte prekę, turėtume būdą su jumis susisiekti." %}</h6>
  <p> {% trans "Numerį galėsite bet kada pasikeisti per profilio langą." %}</p>
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{ p_form.phone }}
    <br>
    <br>
      <button class="btn btn-dark" type="submit">{% trans "Patvirtinti" %}</button>                        
 </form>
</div>
{% endblock %}
