  {% extends "wood/base.html" %}
  {% load i18n %}
  {% block content %}


  <div class="container" style="padding-top: 60px;">
    <h1 class="page-header" style="margin-left: 4vw;">{{ user.username }}</h1>
    <div class="row">
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="text-center">
          <img src="{{ user.profile.image.url }}" class="avatar img-circle img-thumbnail" alt="avatar">
          <h6>{% trans "Pakeisti nuotrauką" %}</h6>
          <form method="POST" enctype="multipart/form-data">
          {{ p_form.image }}
        </div>
      </div>
      <div class="col-md-8 col-sm-6 col-xs-12 personal-info">
     
        <h3>{% trans "Profilio forma" %}</h3>


          {% csrf_token %}
    

          
          <div class="form-group">
            <label class="col-lg-3 control-label">{% trans "Vardas" %}</label>
            <div class="col-lg-8">
              <div class="label">
                {{ u_form.username }}
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">{% trans "Paštas" %}</label>
            <div class="col-lg-8">
              <div class="label">
              {{ u_form.email }}
            </div>
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">{% trans "Telefonas" %}</label>
            <div class="col-lg-8">
              <div class="label">
                {{ p_form.phone }}
              </div>
            </div>
            <br>
            <div class="form-group" style="padding-left: 1vw;">
              <button class="btn btn-dark" type="submit">{% trans "Pakeisti" %}</button>                         
            </div>
            </form>
           
          </div>
      </div>
    </div>
  </div>


<div class="mid">
  {% if count != 0 %} 
    <h5>{% trans "Jūsų užsakymai" %}({{count}})</h5>
  {% endif %}
  {% if count == 0 %} 
      <h4>{% trans "Užsakymų jūs neturite" %}</h4>
  {% endif %}
</div>
</div>

  <div class="row" style="margin-left: 4vw;">
    {% for user_order in user_order %}
            <div class="col-sm-12 col-md-6 col-lg-4 col-12 product-cards" style="padding: 4vh;">
                <div>
                    <div>
                        <div class="col-3">
                            <div class="card" style="width: 18rem;">
                                <div class="card-body">
                                    <a href="{% url 'order-detail' user_order.id %}">
                                        <div class="mid-orders">
                                        <h5 class="card-title">{% if LANGUAGE_CODE == 'lt' %}{{ user_order.title }}{% elif LANGUAGE_CODE == 'en' %}{{ user_order.title_en }}{% endif %}</h5>
                                        <h6 class="card-subtitle mb-2 text-muted">{{ user_order.user }}</h6>
                                        <p class="card-text"> {% if LANGUAGE_CODE == 'lt' %}{{ user_order.product }}{% elif LANGUAGE_CODE == 'en' %}{{ user_order.product.title_en }}{% endif %}</p>
    
                                    
                                       
                                        {% if user_order.confirm == null and user_order.reject == null and user_order.finished == null %}
                                        <button type="button" class="btn btn-danger"> {% trans "Užsakymas nepatvirtintas" %}</button>
                                        {% endif %}
                                       
                                        {% if user_order.confirm == True and user_order.reject == null and user_order.finished == null %}
                                        <button type="button" class="btn btn-success"> {% trans "Užsakymas patvirtintas" %}</button>
                                        {% endif %}

                                        {% if user_order.confirm == null and user_order.reject == True and user_order.finished == null %}
                                        <button type="button" class="btn btn-danger"> {% trans "Užsakymas atmestas" %}</button>
                                        {% endif %}

                                        {% if user_order.confirm == True and user_order.reject == null and user_order.finished == True %}
                                        <button type="button" class="btn btn-dark"> {% trans "Užsakymas pabaigtas" %}</button>
                                        {% endif %}
                          
                            
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div> 
                    </div>
                </div>
            </div>
    {% endfor %}




  {% endblock content %}





          