{% extends "wood/base.html" %}
{% load i18n %}
{% load static %}
{% block content %}


<form method="POST">
  {% csrf_token %}
<div class="login-page">
	<div class="container">
		<div class="row">
			<div class="col-xl-8 m-auto col-sm-8 col-12">
				<div class="log-box">
					<div class="row">
						<div class="col-xl-5 col-sm-5 col-12 pad-right-0">
							<div class="logo-back">
                <img class="fuck-this-2" src="{% static 'home-stairs1.jpg' %}"/>
							</div>
						</div>
						<div class="col-xl-7 col-sm-7 col-12 pad-left-0">
							<div class="log-content">
								<h1>{% trans "Registracija" %}</h1>
								<div class="log-body">
								<div class="form-group myr-top">
								<label>Vartotojo vardas:</label>
                {{ form.username }}
                </div>
                
								<div class="form-group myr-top">
								<label>El paštas:</label>
                {{ form.email }}
                </div>
                
                <div class="form-group myr-top">
                  <label>Slaptažodis:</label>
                  {{ form.password1 }}
                  </div>


                	<div class="form-group myr-top">
                    <label>Pakartokite:</label>
                    {{ form.password2 }}
                    </div>
								<div class="log-btn text-center">
                  <button class="btn btn-theme1">
                    {% trans "Užsiregistruokite" %}
                  </button>  
								</div>
								<div class="log-bottom-cotent">
                <p>{% trans "Turite paskyrą?" %} <a href="{% url 'login' %}">{% trans "Prisijungti" %} </a>
								</p>
								</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</form>  
{% endblock content %}








