{% extends "wood/base.html" %}

{% block content %}
<div class="container">
    <div class="row">
        {% for Product in Product %}
            <div class="col-sm-12 col-md-6 col-lg-4 col-12" id="list-padding">
                <div id="card-width" class="product-cards">
                    <img class="card-img-top" src="{{ Product.image.url }}">
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}
