{% extends "wood/base.html" %}
{% load static %}
{% load i18n %}

{% block content %}


	<h2 class="h1 pt-4">
    {% trans "Apie mus" %}!
  </h2>

	<p class="pb-4">
    {% trans "Čia galite rasti kur informacija apie mūsų individualia veiklą, taip pat visą reikiamą informaciją apie paslaugas ir produktus."%}
  </p>
  <div class="col-12">
  <img src="{% static 'about1.jpg' %}" height="500px" width="80%"/>
</div>

{% endblock content %}
