{% extends "wood/base.html" %}
{% load i18n %}

{% block content %}

<section class="section pb-5">
	<div class="col">
		<div id="contacts-map">
			<div>
			  <iframe width="100%" height="350" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2245.4021093405936!2d24.35313521586386!3d55.751516699558756!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46e62e019374f345%3A0x83256aaf6b0640a6!2zUHVyaWVuxbMgZy4gMzhBLCBQYW5ldsSXxb55cyAzNzQ2Mg!5e0!3m2!1slt!2slt!4v1586252309199!5m2!1slt!2slt" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
			</div>
		</div>

	<div id="contacts-text">
		<div class="row text-center">
		  <div class="col-md-4">

			<p>{% trans "Purienų 38/a2" %}</p>
			<p>{% trans "863357079" %}</p>
		  </div>
  
		  <div class="col-md-4">
			<p>{%trans "Lietuva" %}</p>
			<p>{%trans "Panevėžys" %}</p>
		  </div>
  
		  <div class="col-md-4">
			<p>{% trans "bartaseviciutek@gmail.com" %}</p>
			<p>{% trans "seimosstalius@gmail.com" %}</p>
		  </div>
		</div>
	</div>
  
	  </div>
	</div>
  </section>


  <!--Section: Contact v.2-->
<section class="mb-4">

    <!--Section heading-->
    <h2 class="h1-responsive font-weight-bold text-center my-4">{% trans "Kontaktuokite mus!" %}</h2>
    <!--Section description-->
    <p class="text-center w-responsive mx-auto mb-5">{% trans "Turite klausimų? Užpildykite šią formą ir mūsų komanda atsakys per 2 - 4 darbo dienas!" %}</p>

    <div class="row contacts">

        <!--Grid column-->
        <div class="col-md-12 mb-md-0 mb-5">



            <form id="contact-form" name="contact-form" action="{% url 'contact-send' %}" method="POST">
				{% csrf_token %}

                <!--Grid row-->
                <div class="row">

                    <!--Grid column-->
                    <div class="col-md-6">
                        <div class="md-form mb-0">
							<label for="name" class="">{% trans "Vardas" %}</label>
                            <input type="text" id="name" name="name" class="form-control">
                        </div>
                    </div>
                    <!--Grid column-->

                    <!--Grid column-->
                    <div class="col-md-6">
                        <div class="md-form mb-0">
							<label for="email" class="">{% trans "Elektroninis paštas" %}</label>
                            <input type="text" id="email" name="email" class="form-control">
                        </div>
                    </div>
                    <!--Grid column-->

                </div>
                <!--Grid row-->

                <!--Grid row-->
                <div class="row">
                    <div class="col-md-12">
                        <div class="md-form mb-0">
							<label for="subject" class="">{% trans "Tema" %}</label>
                            <input type="text" id="subject" name="subject" class="form-control">
                           
                        </div>
                    </div>
                </div>
                <!--Grid row-->

                <!--Grid row-->
                <div class="row">

                    <!--Grid column-->
                    <div class="col-md-12">

                        <div class="md-form">
							<label for="message">{% trans "Žinutė" %}</label>
                            <textarea type="text" id="message" name="message" rows="2" class="form-control md-textarea"></textarea>
                        </div>

                    </div>
				</div>
				<!--Grid row-->
				<br>
				<input class="btn btn-dark" type="submit" value='{% trans "Išsiųsti" %}' />

            </form>

           
            <div class="status"></div>
        </div>
        <!--Grid column-->

        <!--Grid column-->
       

    </div>

</section>
<!--Section: Contact v.2-->


    
            
{% endblock content %}
