{% extends "wood/base.html" %}
{% load i18n %}

{% block content %}
<br><br>

<a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
  <div class="d-flex w-100 justify-content-between">
    <h5 class="mb-1">{% trans "Faneravimas" %} </h5>
  </div>
  <p class="mb-1">{% trans "Plokščių paviršių faneravimo paslauga Faneruojame MDP, MDF arba medienos gaminius įvairių medienos rūšių faneruote: uosio, balto uosio, ąžuolo, pušies, klevo, raudonmedžio, vengės ir daugelis kitų. Faneruotų durų natūraliu lukštu  gali skirtis lukšto pločiai, piešinys, atspalviai, kadangi natūralaus lukšto  tokios savybės ir tai nelaikoma gamykliniu broku. Išgaubtų paviršių faneravimo paslauga Vakuminiu presu faneruojame gaubtus MDP, MDF arba medienos paviršius įvairių medienos rūšių faneruote: balto uosio, ąžuolo, pušies, klevo, raudonmedžio, vengės ir daugelis kitų.." %} </p>
</a>

<br><br>

<div class="list-group">
  <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">{% trans "Dažymas, lakavimas" %} </h5>
    </div>
    <p class="mb-1">{% trans "Siūlome MDF plokščių, detalių ir kitų paviršių dažymo ir  lakavimo  paslaugą baldininkams, statybininkams irnorintiems savarankiškai papuošti savo būtą žmonėms." %} </p>
    
  </a>



</div>
{% endblock content %}
