{% extends "wood/base.html" %}
{% load i18n %}
{% block content %}

<div id="cube">
  <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
<div id="form-title">
    <h4>{% trans "Kategorijos kūrimas/keitimas" %}</h4>
  </div>
    <div class="form-row">

      <div class="form-group col-md-6">
        <label>
          {% trans "Pavadinimas" %}
        </label>
      
        <div class="label">
        {{ form.title }}
        </div>
      </div>

      <div class="form-group col-md-6">
        <label>
          {% trans "Angl. Pavadinimas" %}
        </label>
        <div class="label">
        {{ form.title_en }}
        </div>
      </div>

  


  <div class="form-group col-md-6">
    <label>
      {% trans "Aprašymas" %}
    </label>
  
    <div class="label">
    {{ form.description }}
    </div>
  </div>

  <div class="form-group col-md-6">
    <label>
      {% trans "Angl. Aprašymas" %}
    </label>
  
    <div class="label">
    {{ form.description_en }}
    </div>
  </div>

  <div class="form-group col-md-4">
    <label>
      <button class="btn btn-dark">{% trans "Sukurti / Pakeisti" %} </button>
      
    </label>
  </div>

  <div class="form-group col-md-6">
    <label>
      <a class="btn btn-dark"  role="button" href="{% url 'tvs-category' %}">{% trans "Grįžti atgal" %}</a>
    </label>
  </div>
  </div>



 
  </div>
</form>

</div>
{% endblock content %}
