{% extends "wood/base.html" %}
{% load i18n %}
{% block content %}

<div id="cube">
  <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
<div id="form-title">
    <h4>{% trans "Produkto kūrimas/keitimas" %}</h4>
  </div>
    <div class="form-row">

      <div class="form-group col-md-6">
        <label>
          {% trans "Pavadinimas" %}
        </label>
      
        <div class="label">
        {{ form.title }}
        </div>
      </div>

      <div class="form-group col-md-6">
        <label>
          {% trans "Angl. Pavadinimas" %}
        </label>
        <div class="label">
        {{ form.title_en }}
        </div>
      </div>

    <div class="form-group col-md-12">
      <label>
        {% trans "Kategorija" %}
      </label>
    <div class="filter">
      {{ form.category }}
    </div>
  </div>


  <div class="form-group col-md-6">
    <label>
      {% trans "Aprašymas" %}
    </label>
  
    <div class="label">
    {{ form.description }}
    </div>
  </div>

  <div class="form-group col-md-6">
    <label>
      {% trans "Angl. Aprašymas" %}
    </label>
  
    <div class="label">
    {{ form.description_en }}
    </div>
  </div>

  <div class="form-group col-md-6">
    <label>
      {% trans "Spalva" %}
    </label>
  
    <div class="filter">
    {{ form.color }}
    </div>
  </div>

  <div class="form-group col-md-6">
    <label>
      {% trans "Medžio tipas"%}
    </label>
  
    <div class="filter">
    {{ form.wood }}
    </div>
  </div>


  <div class="form-group col-md-6">
    <label>
      {% trans "Dydis" %}
    </label>
  
    <div class="filter">
    {{ form.size }}
    </div>
  </div>


  <div class="form-group col-md-6">
    <label>
      {% trans "Kaina" %}
    </label>
  
    <div class="label">
    {{ form.cost }}
    </div>
  </div>


  <div class="form-group">
    <label>
      {% trans "Nuotrauka" %}
    </label>
  
    <div class="filter">
    {{ form.image }}
    </div>
  </div>





  
  </div>
  <div id="form-button">
    <button class="btn btn-dark" style="margin-top: 2vh; margin-left: 8vw;">{% trans "Sukurti / Pakeisti" %} </button>
    <a class="btn btn-dark" style="margin-top: 2vh;" role="button" href="{% url 'tvs-product' %}">{% trans "Grįžti atgal" %}</a>
  </div>
</form>
</div>
{% endblock content %}

{{ form.size }}
