{% extends "wood/base.html" %}
{% load i18n %}
{% block content %}
    <div class="content-section">
        <form method="POST" enctype="multipart/form-data">

            {% csrf_token %}
        <div center class="mid">
                <div id="legend">
                  <legend class="delete-product">{% trans "Ar norite ištrinti?" %}</legend>
                </div>

                <p>{% trans "Tikrai norite ištrinti šį medį?" %}<legend class="delete-product" style="margin-top: 1vh;">{% if LANGUAGE_CODE == 'lt' %}{{ object.title }}{% elif LANGUAGE_CODE == 'en' %}{{ object.title_en }}{% endif %}  </legend></p>

                <div class="control-group">
                  <div class="controls">
                    <button class="btn btn-outline-danger" type="submit">{% trans "Taip, ištrinti" %}</button>
                    <a class="btn btn-secondary" role="button" href="{% url 'tvs-wood' %}">{% trans "Grįžti atgal" %}</a>
                  </div>
                </div>
              </fieldset>
        </form>
</div>
    </div>
{% endblock content %}








